<div class="itemContainer">
    <i-feather (mouseover)="showButton = true" (mouseleave)="showButton = false" *ngIf="isFolder()" name="folder"
        class="itemIconContainer" (click)="handleSelectFolder()"></i-feather>
    <i-feather (mouseover)="showButton = true" (mouseleave)="showButton = false" *ngIf="isBookmark()" name="bookmark"
        class="itemIconContainer">
    </i-feather>
    <ns-delete-button *ngIf="showButton"></ns-delete-button>
    <span class="folderName">{{ item?.name }}</span>
</div>