:host {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemIconContainer {
    cursor: pointer;
    display: flex;
    margin: 25px;
    height: 80px;
    width: 80px;
    border-radius: 15%;
    margin: 0;
    padding: 0;
}

.itemName {
    text-align: center;
    display: flex;
}

.itemContainer {
    display: flex;
}