<div class="speedDialButtonItemsList" id="speedDialButtonItemsList">
    <button class="speedDialButtonItems">
        <i-feather name="folder-plus" class="speedDialIcon"></i-feather>
    </button>
    <button class="speedDialButtonItems">
        <i-feather name="file-plus" class="speedDialIcon"></i-feather>
    </button>
    <button class="speedDialButtonItems">
        <i-feather name="tag" class="speedDialIcon"></i-feather>
    </button>
</div>
<button class="speedDialButton" (click)="displayItems()">
    <i-feather name="plus-circle" class="speedDialIcon"></i-feather>
</button>