<div>
    <ng-container *ngFor="let item of path">
        <span (click)="selectFolder(item)">{{item.name}}</span>
        <span>/</span>
    </ng-container>
</div>

<ul>
    <li *ngFor="let item of folderSelected?.children">
        <ns-item-container [item]="item" (click)="selectFolder(item)"></ns-item-container>
    </li>
</ul>
<ul>
    <li *ngFor="let item of bookmarks">
        <ns-item-container [item]="item"></ns-item-container>
    </li>
</ul>
<ns-speed-dial-button></ns-speed-dial-button>