@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Macondo&display=swap');

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.loginFormContainer {
    display: grid;
    border: 1px solid black;
    grid-template-columns: repeat(2, 450px);
    grid-template-rows: repeat(1, 300px);
}

.titleIconContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.titleIconContainer h1 {
    justify-self: center;
    align-self: center;
    font-size: 70px;
    font-family: 'Lobster', cursive;
    margin: 5px;
}

.titleIconContainer img {
    justify-self: center;
    align-self: center;
}

.emailContainer {
    display: grid;
    grid-template-columns: max-content auto;
}

.other {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.other p {
    padding: 0;
    margin: 0;
}

.loginFormPicture {
    width: 100%;
    height: 100%;
    grid-row: 1/4;
    grid-column: 2/2;
}

img {
    width: 100px;
    aspect-ratio: 16/11;
}