<div class="loginFormContainer">
    <div class="loginFormLeft">
        <div class="titleIconContainer">
            <img class="imgLoginForm" src="/assets/icons/easyBM.png" alt="Icon Bookmark">
            <h1 class="h1LoginForm">easyBM</h1>
        </div>
        <form class="formContainer" method="get">
            <div class="emailContainer">
                <label for="email">
                    <i-feather class="iconFormContainer" name="user"></i-feather>
                </label>
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <div class="passwordContainer">
                <label for="password">
                    <i-feather class="iconFormContainer" name="key"></i-feather>
                </label>
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div class="loginContainer">
                <input type="submit" value="Login">
            </div>
        </form>
        <div class="topButton">
            <div class="rememberContainer">
                <label for="remember">Remember me</label>
                <input type="checkbox" name="remember">
            </div>
            <div class="linkContainer">
                <p><a>Register now</a></p>
                <p><a>Forgot password?</a></p>
            </div>
        </div>
    </div>
    <div>
        <img src="/assets/icons/loginForm.jpg" alt="A Clockwork Orange" class="loginFormPicture">
    </div>
</div>