.topBarContainer {
    background-color: blue;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: flex-end;
}

.logoutButton {
    width: 55px;
    height: 55px;
    align-self: center;
    margin-right: 10px;
    border-radius: 25%;
    cursor: pointer;
}